html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-size:62.5%;
}

@font-face {
	font-family:Vogue, sans-serif;
	src:url('../fonts/Vogue.woff') format('woff');
}

body {
	font-family:Vogue,sans-serif;
}

#mainContainer .productDetailContainer .leftSide .imageContainer img {
	width:100%;
}

#mainContainer .productDetailContainer .rightSide .productName {
	letter-spacing:0.1rem;
}

#mainContainer .productDetailContainer .rightSide .priceContainer .productPrice {

}

#mainContainer .productDetailContainer .rightSide form .preorderContainer input[type=checkbox] {
	 height:40px;
}

#mainContainer .productDetailContainer .rightSide form .preorderContainer .preorderItem {
	color:#848484;
	font-style:italic;
}

#mainContainer .productDetailContainer .rightSide form select[name=stock_id] {
	height:40px;
	border:1px solid #000;
	cursor:pointer;
	padding-left:10px;
}

#mainContainer .productDetailContainer .rightSide .descriptionContainer .descriptionList li {
	list-style:disc;
}

#mainContainer .productDetailContainer .rightSide .descriptionContainer .trackList li {
	margin-left:12px;
	line-height:1.7;
	font-style:italic;
}

#mainContainer .productDetailContainer .rightSide form .buttonContainer {
	text-align:center;
	max-width:400px;
	border-radius:3px;
}

#mainContainer .productDetailContainer .rightSide form .buttonContainer .cartButton {
	background-color:#8bab9d;
	border:0;
	border-radius:3px;
	color:#fff;
	padding:0;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:0.2rem;
	min-height:40px;
}

@media (min-width:0) and (max-width:749px) {
	#mainContainer {
		margin:0 25px;
	}
	#mainContainer .productDetailContainer .rightSide .productName {
		font-size:2.4rem;
		line-height:3rem;
	}

	#mainContainer .productDetailContainer .rightSide .priceContainer {
		margin-top:8px;
		margin-bottom:40px;
	}

	#mainContainer .productDetailContainer .rightSide .priceContainer .productPrice {
		font-size:1.7rem;
	}

	#mainContainer .productDetailContainer .rightSide form .preorderContainer label {
		font-size:1.4rem;
	}
	

	#mainContainer .productDetailContainer .rightSide form .preorderContainer .preorderItem {
		margin-top:10px;
		font-size:1.4rem;
		line-height:1.5;
	}

	#mainContainer .productDetailContainer .rightSide form .sizeContainer {
		margin-bottom:15px;	
	}

	#mainContainer .productDetailContainer .rightSide form .sizeContainer .sizeInfo {
		font-size:1.4rem;
	}

	#mainContainer .productDetailContainer .rightSide form select[name=stock_id] {
		max-width:400px;
		height:40px;
		border:1px solid #000;
		cursor:pointer;
		padding-left:10px;

	}

	#mainContainer .productDetailContainer .rightSide form select[name=stock_id] option {
		width:400px;
	}

	#mainContainer .productDetailContainer .rightSide .unavailableStock{
		margin-top:10px;
		font-size:1.4rem;
	}

	#mainContainer .productDetailContainer .rightSide form .buttonContainer {
		margin-top:25px;
		text-align:center;
		max-width:400px;
		background-color:#8bab9d;
	}

	#mainContainer .productDetailContainer .rightSide form .buttonContainer .cartButton {
		font-size:1.5rem;
		width:100%;
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer {
		margin-top:40px;
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer .description {
		max-width:400px;
		font-size:1.5rem;
		margin-bottom:15px;
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer h2 {
		font-size:1.5rem;
		margin-bottom:10px;
	}

	
}

@media (min-width:750px) {
	#mainContainer {
		width:100%;
	}

	#mainContainer .productDetailContainer {
		width:100%;
		display:grid;
		grid-template-columns:minmax(400px,700px) minmax(150px,400px);
		justify-content: center;
		grid-column-gap:50px;
	}

	#mainContainer .productDetailContainer .rightSide {
		padding-top:25px;
		margin-right:50px;
	}

	#mainContainer .productDetailContainer .rightSide .productName {
		font-size:3rem;
		line-height:4rem;
		margin-bottom:8px;
	}

	#mainContainer .productDetailContainer .rightSide .priceContainer .productPrice {
		font-size:2rem;
		display:block;
		margin-bottom:50px;
	}

	#mainContainer .productDetailContainer .rightSide form .preorderContainer label {
		font-size:1.7rem;
	}

	#mainContainer .productDetailContainer .rightSide form .preorderContainer .preorderItem {
		margin-top:10px;
		font-size:1.6rem;
		line-height:1.5;
	}

	#mainContainer .productDetailContainer .rightSide form .sizeContainer {
		margin-bottom:20px;	
	}

	#mainContainer .productDetailContainer .rightSide form .sizeContainer .sizeInfo {
		font-size:1.7rem;
	}

	#mainContainer .productDetailContainer .rightSide form select[name=stock_id] {
		max-width:350px;
	}

	#mainContainer .productDetailContainer .rightSide form select[name=stock_id] option {
		width:350px;
	}

	#mainContainer .productDetailContainer .rightSide .unavailableStock{
		margin-top:15px;
		font-size:1.6rem;
	}

	#mainContainer .productDetailContainer .rightSide form .buttonContainer {
		margin-top:35px;
	}

	#mainContainer .productDetailContainer .rightSide form .buttonContainer .cartButton {
		font-size:1.3rem;
		width:100%;
	}

	#mainContainer .productDetailContainer .rightSide form .buttonContainer:hover .cartButton {
		background-color:rgba(109,150,132);
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer {
		margin-top:55px;
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer .description {
		font-size:1.6rem;
		margin-bottom:18px;
		line-height:1.5;
	}

	#mainContainer .productDetailContainer .rightSide .descriptionContainer h2 {
		font-size:1.6rem;
		margin-bottom:12px;
	}

}